body,
html {
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  font-family: 'IM Fell English', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(221, 208, 193);
  color: #393939;
}

code {
  font-family: 'IM Fell English', serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #393939;
  border-radius: 10px;
}

.swal2-icon {
  border: 2px solid #393939 !important;
}

.swal2-styled.swal2-confirm, .swal2-styled.swal2-cancel {
  font-family: inherit;
  font-size: 18px !important;
}

.swal2-popup {
  border-radius: 1px !important;
}
