body, html {
  height: 100%;
  user-select: none;
}

body {
  margin: 0;
  font-family: 'IM Fell English', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(221, 208, 193);
}

code {
  font-family: 'IM Fell English', serif;
}